Pillow==5.4.0
absl-py==0.7.0
astor==0.7.1
cycler==0.10.0
Django==2.1.5
django-bootstrap-datepicker-plus==3.0.5
django-crispy-forms==1.7.2
h5py==2.9.0
Markdown==3.0.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
reportlab==3.5.13
gunicorn
django-heroku
pip
setuptools
whitenoise
psycopg2
dj-database-url
django-bootstrap4